<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1> !Registrate y disfruta de muchos beneficios¡</h1>
    <div class="signup-content">


        <form th:action="@{/productos}" th:object="${cliente}"
              method="POST" enctype="multipart/form-data"  class="signup-form">
            <div class="modal-body">

                <div class="form-group">
                    <label for="documentoC">Documento: </label>
                    <input type="text" class="form-input" name="documentoC" id="documentoC" required="true" placeholder="Tú documento">
                </div>
                <div class="form-group">
                    <label for="tipo_documento">Tipo de Documento: </label>
                    <input type="text" class="form-input" name="tipo_documento" id="tipo_documento" required="true" placeholder="Tipo de documento">
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" class="form-input" name="nombre" id="nombre" required="true" placeholder="Tú nombre">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido: </label>
                    <input type="text" class="form-input" name="apellido" id="apellido" required="true" placeholder="Tú apellido">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono: </label>
                    <input type="text" class="form-input" name="telefono" id="telefono" required="true" placeholder="Tú telefono">
                </div>
                <div class="form-group">
                    <label for="fechaN">Fecha de Nacimiento: </label>
                    <input type="date" class="form-input" name="fechaN" id="fechaN" required="true" placeholder="Fecha de nacimiento">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-input" name="email" id="email" required="true" placeholder="Correo">
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="text" class="form-input" name="password" id="password" required="true" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label for="foto">Foto: </label>
                    <input type="file" class="form-input" name="file" id="foto" >
                </div>
                <div class="form-group">
                    <label for="jornada" class="form-input">Jornada: </label>
                    <select name="jornada" id="jornada" required class="form-input mi-selector ">

                        <option th:value="${'Mañana'}" th:text="${'Mañana'}"></option>
                        <option th:value="${'Tarde'}" th:text="${'Tarde'}"></option>

                    </select> <br>
                </div>

                <div class="form-group">
                    <label for="estado">Estado: </label>
                    <input type="text" class="form-input" name="estado" id="estado"
                           readonly value="1"/>
                </div>
                <div class="form-group">
                    <label for="id_rol">Rol: </label>
                    <input type="text" class="form-input" name="id_rol" id="id_rol"
                           readonly th:value="${2}"/>
                </div>



            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>

        </form>

        <p class="loginhere">
            Have already an account ? <a href="#" class="loginhere-link">Login here</a>
        </p>
    </div>
</div>
</body>
</html>